<!-- Footer -->
<footer
  class="footer"
  id="footer"
  style="background-color: white">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-4">
        <span class="licence">
          Licence CC0 {{ site.title }} {{ 'now' | date: "%Y" }}</span>
      </div>
      <!-- Social Media -->
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          {% for link in site.data.footer.social %}
            <li class="list-inline-item">
              {% if link.url %}
                <a href="{{ link.url }}">
                  {% if link.icon %}
                    <i class="{{ link.icon }}"></i>
                  {% endif %}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
      <!-- Statuts, Budget, and Legal -->
      <div class="col-md-4">
        <ul class="list-inline quicklinks">
          <li class="list-inline-item">
            <a href="statuts">{{ site.data.footer.statuts | default: "Statuts" }}</a>
          </li>
          <li class="list-inline-item">
            <a href="budget">Budget</a>
          </li>
          <li class="list-inline-item">
            <a href="mentions-legales">Mentions Légales</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- End Footer -->