<!-- itineraire -->
<section class="bg-light page-section" id="itineraire">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Itinéraire d'une formation :</h2>
        <h3 class="section-subheading text-muted">Avant de commander une intervention, voici les questions essentielles à considérer :</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="itineraire">
          <li class="itineraire-inverted">
            <div class="itineraire-image">
              <img
                src="assets/img/itineraire/diagnostic.png"
                alt="Diagnostic"
                class="img-fluid rounded-circle">
            </div>
            <div class="itineraire-panel">
              <div class="itineraire-heading">
                <h4>Objectif</h4>
                <p class="text-muted">
                  <i>Quel est le besoin spécifique ?</i>
                </p>
              </div>
              <div class="itineraire-body">
                <div class="text-muted">Identifiez la problématique,
                  <a href="#portfolio">le thème
                  </a>, votre
                  <a href="/formats">volonté pédagogique</a>, et l’objectif de la formation pour nous permettre de répondre parfaitement à vos attentes.
                  <br> <br>
                  <a href="#contact">Nous contacter</a>
                  pour toute question.</div>
              </div>
            </div>
          </li>
          <li>
            <div class="itineraire-image">
              <img
                src="assets/img/itineraire/public.png"
                alt="Public"
                class="img-fluid rounded-circle">
            </div>
            <div class="itineraire-panel">
              <div class="itineraire-heading">
                <h4>Public</h4>
                <p class="text-muted">
                  <i>Qui est le public cible ? Quel est son niveau ?</i>
                </p>
              </div>
              <div class="itineraire-body">
                <div class="text-muted">Définissez le nombre de groupes et le nombre de participant.e.s. <br> Pour adapter le contenu et
                  <a href="#methodes">nos méthodes</a>, nous pouvons vous accompagner pour réaliser un
                  <a href="/formats">auto-diagnostic</a>, ou vous pouvez le réaliser vous-même.
                  <br> <br>
                  <a href="#contact">Nous contacter</a>
                  pour toute question.</div>
              </div>
            </div>
          </li>
          <li class="itineraire-inverted">
            <div class="itineraire-image">
              <img
                src="assets/img/itineraire/format.png"
                alt="Format"
                class="img-fluid rounded-circle">
            </div>
            <div class="itineraire-panel">
              <div class="itineraire-heading">
                <h4>Moyens</h4>
                <p class="text-muted">
                  <i>Avez-vous estimé vos moyens ?</i>
                </p>
              </div>
              <div class="itineraire-body">
                <div class="text-muted">Disposez-vous d’une salle adaptée ? Quels sont ses équipements ? Quel est votre budget ? Vous pouvez consulter nos formats<a href="/formats">nos formats</a>
                  standards et leur
                  <a href="/formats">tarif</a>, mais nous pouvons en créer sur mesure.
                  <br> <br>
                  <a href="#contact">Nous contacter</a>
                  pour toute question.</div>
              </div>
            </div>
          </li>
          <li>
            <div class="itineraire-image">
              <img
                src="assets/img/itineraire/referent.png"
                alt="Référent"
                class="img-fluid rounded-circle">
            </div>
            <div class="itineraire-panel">
              <div class="itineraire-heading">
                <h4>Référent.e</h4>
                <p class="text-muted">
                  <i>Qui sera le contact principal pour ce projet ?</i>
                </p>
              </div>
              <div class="itineraire-body">
                <div class="text-muted">Désignez une personne avec qui nous pourrons être en contact tout au long de la création, de la mise en œuvre, et également après la réalisation, notamment pour réaliser le bilan.
                  <br> <br>
                  <a href="#contact">Nous contacter</a>
                  pour toute question.</div>
              </div>
            </div>
          </li>
          <li class="itineraire-inverted">
            <div class="itineraire-image">
              <img
                src="assets/img/itineraire/contact.png"
                alt="Contactez-nous"
                class="img-fluid rounded-circle">
            </div>
            <div class="itineraire-panel">
              <div class="itineraire-heading">
                <h4>Contact</h4>
                <p class="text-muted">
                  <i>Quand vous avez les réponses à ces questions, contactez-nous pour recevoir une proposition adaptée.</i>
                </p>
              </div>
              <div class="itineraire-body">
                <div class="text-muted">Nous sommes prêts à vous aider à tout moment. Envoyez-nous vos réponses pour obtenir une offre personnalisée et détaillée.
                  <a href="#contact">Nous contacter</a>
                  pour toute question.</div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- End itineraire -->