<!-- Méthodes -->
<section class="page-section" id="methodes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Nos Méthodes</h2>
                <h3 class="section-subheading text-muted">Les méthodes que nous choisissons répondent à nos valeurs. Ces méthodes sont approuvées et éprouvées : </h3>
            </div>
        </div>

        <div class="row text-center">
            <!-- Méthode 1: Sur mesure -->
            <div class="col-md-4 mb-5">
                <span class="fa-stack fa-4x mb-3">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-pen-ruler fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="methode-heading mb-3">Sur mesure</h4>
                <div class="text-muted text-justify">
                    Un <strong>diagnostic</strong> est réalisé en amont, suivi d'une <strong>construction du contenu</strong> au plus proche des besoins. Au regard des demandes, nous sommes <strong>force de proposition</strong> et nous nous <strong>adaptons</strong> le plus possible.
                </div>
            </div>

            <!-- Méthode 2: Méthodes actives -->
            <div class="col-md-4 mb-5">
                <span class="fa-stack fa-4x mb-3">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-people-arrows fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="methode-heading mb-3">Méthodes actives</h4>
                <div class="text-muted text-justify">
                    Nous favorisons la <strong>participation active</strong> et l'approche <strong>collaborative</strong>. Nous assurons un cadre propice aux <strong>réflexions critiques</strong>, aux <strong>débats constructifs</strong> et nous créons collectivement des <strong>solutions concrètes</strong>. Nous utilisons des <strong>outils participatifs</strong>.
                </div>
            </div>

            <!-- Méthode 3: Adaptabilité -->
            <div class="col-md-4 mb-5">
                <span class="fa-stack fa-4x mb-3">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-sliders fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="methode-heading mb-3">Adaptabilité</h4>
                <div class="text-muted text-justify">
                    Lors du face à face, nous venons avec notre <strong>exigence</strong> mais savons <strong>réorienter</strong> le contenu pour répondre au mieux aux <strong>questionnements</strong>, aux <strong>problématiques</strong> et aux <strong>envies</strong> des participant·e·s.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Méthodes -->



