  <!-- Start Pitch -->
  <style>
    .text-color {
        color: #6c757d;
    }
</style>


  <section class="pitch">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>COA ?</h1>
                <h2>\kwa\</h2>
                <br><br>
                <p class="text-muted closer-link"><a href="https://www.calameo.com/read/0075758296f5264a81747">Lire notre projet de structure</a></p>
                <p class="mx-auto">
                    Expert.e.s en animation et formation de groupe, nous facilitons la compréhension des violences sociales et systémiques à travers le prisme des émotions et des besoins.
                    Créat.eur.rices de contextes favorisant l’élaboration collective de solutions, notre approche est basée sur le jeu, le débat et l'esprit critique.
                    L’objectif est de libérer les singularités pour un épanouissement personnel et collectif.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- End Pitch -->