  <!-- Start Pitch -->
<section class="page-section" id="pitch">
    <div class="bg-light page-section" 
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>COA ?</h1>
                    <h2>/KWA/</h2>
                    <br><br>
                    <p class="text-muted closer-link"><a href="https://www.calameo.com/read/0075758296f5264a81747">Lire notre projet de structure</a></p>
                    <p class="mx-auto">
                        Expert·e·s en animation, formation de groupes sur la transition sociale, 
                        <br> nous nous adressons aux professionnel·le·s de l’éducation et de l’accompagnement ainsi qu’à leurs publics (à partir de 6 ans). 
                        <br> <br>
                        <strong> Pour une culture heureuse du respect de soi et des autres.</strong>
                     
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>  
<!-- End Pitch -->