  <!-- Start Pitch -->
<section class="page-section" id="pitch">
    <div class="bg-light page-section" 
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>COA ?</h1>
                    <h2>/KWA/</h2>
                    <br><br>
                    <p class="text-muted closer-link"><a href="https://www.calameo.com/read/0075758296f5264a81747">Lire notre projet de structure</a></p>
                    <p class="mx-auto">
                        Nous utilisons l’empathie pour accompagner les professionnel·le·s au contact des jeunes
                        <br> à adopter de nouveaux regards et pratiques, <br> afin de promouvoir l’égalité filles-garçons, repérer et réagir face aux violences sexuelles <br> et favoriser un environnement respectueux pour tous les enfants.
                        <br> <br>
                        <strong> Derrière chaque adulte formé à l'empathie et l'égalité il y a un enfant écouté et considéré.</strong>
                     
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>  
<!-- End Pitch -->
