
@media (min-width: 768px) {
    header.masthead {
        .intro-text {
            padding-top: 100px;
            padding-bottom: 300px;
        }
    }
} 

.btn {
  position: relative;
  top: -75px; /* Ajustez la valeur selon vos besoins pour remonter le bouton */
}


/* Styles spécifiques au bouton du formulaire de contact */
.contact-btn {
  /* Ajoutez vos styles spécifiques ici */
  /* Par exemple, si vous souhaitez annuler la modification précédente, vous pouvez réinitialiser la position à la valeur par défaut */
  position: static;
  top: auto; /* Supprimez la valeur top précédemment définie */
}
/* Styles spécifiques au bouton du formulaire de contact */
.team-btn {
  /* Ajoutez vos styles spécifiques ici */
  /* Par exemple, si vous souhaitez annuler la modification précédente, vous pouvez réinitialiser la position à la valeur par défaut */
  position: relative;
  top: 50px; /* Supprimez la valeur top précédemment définie */
}


.intro-heading p {
    color: #3c736d; 
}
.logo-image {
    width: 100px; /* Ajustez la largeur selon votre préférence */
    height: auto; /* Cela permet de conserver les proportions de l'image */
}
.timeline-body {
    text-align: left;
  }
  
  .timeline-body p {
    margin-top: 10px; /* Réglage de la marge pour espacer légèrement le texte de l'image */
  }

  /* Portofolio */
ul.left-align {
    text-align: left !important;
}

/* Styles pour la section "Nous" */
.nous-section {
    background-color: grey; /* Vous pouvez personnaliser la couleur de fond ici */
    /* Autres styles spécifiques à cette section */
  }
  
  /* Styles pour les titres de la section "Nous" */
  .nous-section h2 {
    font-size: 24px; /* Personnalisez la taille de la police du titre */
    /* Autres styles de titre */
  }
  
  /* Styles pour le contenu textuel de la section "Nous" */
  .nous-section p {
    /* Styles pour les paragraphes dans cette section */
  }
  
  .nous-section {
    position: relative;
    background-image: url('../img/nous_3.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    text-align: center;
    color: transparent;
    padding: 100px 0;
}

.nous-section::before {
  content: "COANIMA,";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat"; /* Utilise la police "autography" */
  color: white;
  font-size: 60px;
  border-radius: 5px;
}

.nous-section::after {
  content: "c'est nous";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%); /* Pour déplacer le texte vers le bas */
  color: rgb(255, 255, 255);
  font-family: "Droid Serif"; 
  font-style : italic
  color: white;
  font-size: 60px;
  border-radius: 5px;
}


  
  /* Styles pour le titre de l'en-tête */
  .page-header h2 {
    font-size: 36px; /* Personnalisez la taille de la police du titre */
    /* Autres styles de titre */
  }
  