
@media (min-width: 768px) {
    header.masthead {
        .intro-text {
            padding-top: 200px;
            padding-bottom: 600px;
        }
    }
}
.intro-heading p {
    color: #3c736d; 
}
.timeline-body {
    text-align: left;
  }
  
  .timeline-body p {
    margin-top: 10px; /* Réglage de la marge pour espacer légèrement le texte de l'image */
  }