---
---

@import "{{ site.remote_theme }}";

.page-header {
    background: #191c20;
}

body {
    background: blue;
}

@media (min-width: 768px) {
    header.masthead {
        .intro-text {
            padding-top: 200px;
            padding-bottom: 600px;
        }
    }
}