---
layout: page
title: formats
permalink: formats
---
<section class="page-section" id="formats">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Nos formats :</h2>
        <h3 class="section-subheading text-muted">Découvrez nos formats
          <strong>standards</strong>
          ici et
          <a href="https://coanima.org/#contact">contactez-nous</a>
          pour des adaptations
          <strong>sur mesure</strong>.
          <br>Nous intervenons toujours en binôme et ajustons le contenu selon vos préférences parmi les thèmes proposés.
        </h3>
      </div>
    </div>
    {% assign formations = site.data.formats.produits %}

    <div class="table-container" style="width: 100%; overflow-x: auto;">
      <table>
        <thead>
          <tr>
            <td>
              <strong>Votre <br> besoin</strong>
            </td>
            {% for format in formations %}
              <td>
                <strong>{{ format.besoin }}</strong>
              </td>
            {% endfor %}
          </tr>
          <tr>
            <th>Nom</th>
            {% for format in formations %}
              <th>{{ format.name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>Volonté pédagogique</strong>
            </td>
            {% for format in formations %}
              <td class="left">{{ format.volonte_pedagogique }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>
              <strong>Centré sur :</strong>
            </td>
            {% for format in formations %}
              <td>{{ format.centre_sur }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>Autodiagnostic <br>(besoins et contexte)</td>
            {% for format in formations %}
              <td>
                {% if format.autodiagnostic %}
                  <i class="fas fa-check text-success"></i>
                {% else %}
                  <i class="fas fa-times text-danger"></i>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <td>Auto-évaluation <br>(acquis avant/après)</td>
            {% for format in formations %}
              <td>
                {% if format.auto_evaluation %}
                  <i class="fas fa-check text-success"></i>
                {% else %}
                  <i class="fas fa-times text-danger"></i>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <td>Compatible <br><a href="/outils">atelier enquête</a>
            </td>
            {% for format in formations %}
              <td>
                {% if format.compatible_atelier_enquete %}
                  <i class="fas fa-check text-success"></i>
                {% else %}
                  <i class="fas fa-times text-danger"></i>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <td>Accès à un espace<br>de ressources</td>
            {% for format in formations %}
              <td>
                {% if format.acces_espace_ressources %}
                  <i class="fas fa-check text-success"></i>
                {% else %}
                  <i class="fas fa-times text-danger"></i>
                {% endif %}
              </td>
            {% endfor %}
          </tr>
          <tr>
            <td>
              <strong>Participant.e.s<br>(min-max)</strong>
            </td>
            {% for format in formations %}
              <td>{{ format.participants }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>
              <strong>Prix</strong>
            </td>
            {% for format in formations %}
              <td>{{ format.prix }}</td>
            {% endfor %}
          </tr>
          <tr>
            <td>
              <strong>Lieux</strong>
            </td>
            {% for format in formations %}
              <td>{{ format.lieux }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>